p {
    font-size: 12px;
}

#home {
    background-image: url(images/jumbotronBackground.png);
    text-align: center;
    color: white;
}

.jumbotron {
    margin-bottom: 0;
}

.jumboHeader {
    font-size:30px;
}

.jumboButton {
    margin-top: 30px;
    color: white;
    border-radius: 0;
    border-color: white;
    font-size: 10px;
    width: 150px;
}

.navbar {
padding: 0.5rem 6rem;
}

.navbar-nav .nav-item .nav-link{
    color: black;
}

.firstText {
    width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.firstHeader {
    color: #3399cc;
    font-size: 25px;
}

.lead {
    font-size: 14px;
}

.bigCard {
    background-color: lightgrey;
}

.carder {
    border: 0;
    margin: 0 auto;
    background: none;
}

.card-title {
    color: #3399cc;
}

.card-body {
    padding: 40px;
    margin-top: 20px;
}

.list-things {
    margin: 40px 400px;
    border: none;
}

.mainList {
    margin: 0 auto;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.boxHeader {
    color: #3399cc;
}

.mainList img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.media .listHeaders {
    color: #3399cc;
}

.flexer {
    display: flex;
}

.flexer a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.flexer a:hover {
    color: #3399cc;
}

.bottomContactButton {
    width: 225px;
    font-size: 12px;
    border-radius: 0px;
    height: 40px;
}

.container .linker a {
    text-decoration: none;
    color: black;
}

.listDiv {
    background-image: url('images/lowerBackground.png');
}

@media only screen and (max-width: 768px) {
    .flexer {
    justify-content: center;
    }
}
